In [8]:
import importlib
import time_series_dataloader
importlib.reload(time_series_dataloader)
from time_series_dataloader import TimeSeriesDataset

In [16]:
stocks_data = TimeSeriesDataset(r"datasets\stocks\Retail", "Open")

In [17]:
for item in stocks_data:
    print(item)

Date
2020-03-10     93.543999
2020-03-11     92.892502
2020-03-12     86.098999
2020-03-13     87.750000
2020-03-16     82.075500
                 ...
2024-04-11    186.740005
2024-04-12    187.720001
2024-04-15    187.429993
2024-04-16    183.270004
2024-04-17    184.309998
Name: Open, Length: 1034, dtype: float64
Date
2020-08-05    68.000000
2020-08-06    83.000000
2020-08-07    95.599998
2020-08-10    85.989998
2020-08-11    74.500000
                ...
2024-04-11     6.360000
2024-04-12     6.330000
2024-04-15     6.170000
2024-04-16     5.920000
2024-04-17     5.930000
Name: Open, Length: 931, dtype: float64
Date
2021-11-03    21.420000
2021-11-04    26.643999
2021-11-05    26.770000
2021-11-08    25.889999
2021-11-09    24.100000
                ...
2024-04-11     0.631000
2024-04-12     0.620000
2024-04-15     0.619000
2024-04-16     0.554000
2024-04-17     0.611000
Name: Open, Length: 616, dtype: float64
Date
2020-03-10    27.740000
2020-03-11    26.719999
2020-03-12    23.090000
2020-03-13    24.320000
2020-03-16    23.299999
                ...
2024-04-11    17.860001
2024-04-12    18.290001
2024-04-15    17.650000
2024-04-16    16.459999
2024-04-17    16.629999
Name: Open, Length: 1034, dtype: float64
Date
2021-06-10    21.500000
2021-06-11    27.250000
2021-06-14    24.299999
2021-06-15    23.549999
2021-06-16    23.280001
                ...
2024-04-11     5.630000
2024-04-12     5.520000
2024-04-15     5.200000
2024-04-16     4.870000
2024-04-17     5.030000
Name: Open, Length: 718, dtype: float64
Date
2020-03-10    36.490002
2020-03-11    35.150002
2020-03-12    32.740002
2020-03-13    34.549999
2020-03-16    30.879999
                ...
2024-04-11    52.599998
2024-04-12    51.709999
2024-04-15    51.619999
2024-04-16    50.630001
2024-04-17    50.590000
Name: Open, Length: 1034, dtype: float64
Date
2020-03-10    60.200001
2020-03-11    56.549999
2020-03-12    45.270000
2020-03-13    46.500000
2020-03-16    44.150002
                ...
2024-04-11    68.220001
2024-04-12    68.339996
2024-04-15    66.919998
2024-04-16    66.449997
2024-04-17    68.500000
Name: Open, Length: 1034, dtype: float64
Date
2020-03-10    20.600000
2020-03-11    19.200001
2020-03-12    15.000000
2020-03-13    16.000000
2020-03-16    15.800000
                ...
2024-04-11    11.280000
2024-04-12    10.730000
2024-04-15    10.260000
2024-04-16    10.360000
2024-04-17    10.820000
Name: Open, Length: 1034, dtype: float64
Date
2020-03-10    194.800003
2020-03-11    195.800003
2020-03-12    193.039993
2020-03-13    194.199997
2020-03-16    192.199997
                 ...
2024-04-11      2.900000
2024-04-12      2.760000
2024-04-15      2.310000
2024-04-16      2.190000
2024-04-17      1.960000
Name: Open, Length: 1034, dtype: float64
Series([], Name: Open, dtype: object)
Date
2020-09-11    32.000000
2020-09-14    30.799999
2020-09-15    32.299999
2020-09-16    31.450001
2020-09-17    30.000000
                ...
2024-04-11    13.980000
2024-04-12    13.850000
2024-04-15    13.430000
2024-04-16    12.800000
2024-04-17    12.970000
Name: Open, Length: 905, dtype: float64
Date
2020-06-11    14.80
2020-06-12    15.16
2020-06-15    14.50
2020-06-16    14.70
2020-06-17    13.66
              ...
2024-04-11     7.33
2024-04-12     6.61
2024-04-15     6.22
2024-04-16     5.86
2024-04-17     6.00
Name: Open, Length: 969, dtype: float64
Date
2020-03-10    33.360001
2020-03-11    30.059999
2020-03-12    28.600000
2020-03-13    29.510000
2020-03-16    25.000000
                ...
2024-04-11    96.129997
2024-04-12    96.680000
2024-04-15    94.300003
2024-04-16    90.709999
2024-04-17    91.059998
Name: Open, Length: 1034, dtype: float64
Date
2020-03-10    12.61
2020-03-11    12.18
2020-03-12    10.15
2020-03-13     9.50
2020-03-16     7.40
              ...
2024-04-11     3.42
2024-04-12     3.44
2024-04-15     3.23
2024-04-16     3.12
2024-04-17     3.20
Name: Open, Length: 1034, dtype: float64
Date
2021-10-27    460.000000
2021-10-28    392.200012
2021-10-29    374.600006
2021-11-01    349.799988
2021-11-02    355.000000
                 ...
2024-04-11      9.780000
2024-04-12     18.730000
2024-04-15     21.990000
2024-04-16     14.150000
2024-04-17     12.670000
Name: Open, Length: 621, dtype: float64
Date
2020-03-10    15.00
2020-03-11    15.25
2020-03-12    12.60
2020-03-13    13.08
2020-03-16    12.55
              ...
2024-04-11     2.37
2024-04-12     2.37
2024-04-15     2.30
2024-04-16     2.24
2024-04-17     2.27
Name: Open, Length: 1034, dtype: float64
Date
2020-03-10    44.500000
2020-03-11    43.525002
2020-03-12    37.099998
2020-03-13    40.400002
2020-03-16    33.900002
                ...
2024-04-11    71.980003
2024-04-12    70.889999
2024-04-15    70.000000
2024-04-16    68.470001
2024-04-17    69.500000
Name: Open, Length: 1034, dtype: float64
Date
2021-03-26    18.250000
2021-03-29    23.346001
2021-03-30    27.340000
2021-03-31    22.299999
2021-04-01    23.854000
                ...
2024-04-11     1.750000
2024-04-12     1.710000
2024-04-15     1.710000
2024-04-16     1.630000
2024-04-17     1.580000
Name: Open, Length: 770, dtype: float64
Date
2020-03-10    51.810001
2020-03-11    48.820000
2020-03-12    41.810001
2020-03-13    36.099998
2020-03-16    34.130001
                ...
2024-04-11    61.500000
2024-04-12    61.950001
2024-04-15    60.900002
2024-04-16    55.799999
2024-04-17    55.770000
Name: Open, Length: 1034, dtype: float64

In [18]:
layoffs_data = TimeSeriesDataset(r"datasets\layoffs\Retail", "total_laid_off")

In [19]:
for item in layoffs_data:
    print(item)

date
2020-04-02      70.0
2022-07-28      23.0
2022-08-15       0.0
2023-01-06       0.0
2023-01-27       0.0
2023-01-30     500.0
2023-02-16     230.0
2023-03-16      80.0
2023-05-04    2300.0
2023-11-08       0.0
2023-11-14     200.0
2023-12-13     225.0
2024-01-09      37.0
2024-01-18       0.0
2024-01-19    1650.0
2024-01-23    1000.0
2024-04-03     280.0
Name: total_laid_off, dtype: float64

In [9]:
data = TimeSeriesDataset(r"datasets\combined\Retail", "Open", "total_laid_off")

In [10]:
data[0]

,total_laid_off,percentage_laid_off,Open,High,Low,Close,Adj Close,Volume
2020-03-10,0.0,0.0,93.543999,94.713501,90.908501,94.591003,94.591003,142666000
2020-03-11,0.0,0.0,92.892502,93.566002,90.074997,91.042999,91.042999,112496000
2020-03-12,0.0,0.0,86.098999,88.250000,83.750000,83.830498,83.830498,226924000
2020-03-13,0.0,0.0,87.750000,89.315498,84.030998,89.250000,89.250000,176194000
2020-03-16,0.0,0.0,82.075500,87.972504,81.301498,84.457497,84.457497,178346000
...,...,...,...,...,...,...,...,...
2024-04-11,0.0,0.0,186.740005,189.770004,185.509995,189.050003,189.050003,40020700
2024-04-12,0.0,0.0,187.720001,188.380005,185.080002,186.130005,186.130005,38554300
2024-04-15,0.0,0.0,187.429993,188.690002,183.000000,183.619995,183.619995,48052400
2024-04-16,0.0,0.0,183.270004,184.830002,182.259995,183.320007,183.320007,32891300
2024-04-17,0.0,0.0,184.309998,184.570007,179.820007,181.279999,181.279999,31359700